<p-dialog #dialog header="Enter a number..."
          [(visible)]="visible"
          [modal]="true"
          [width]="400"
          [height]="150">

  <div class="main">

    <label for="prompt">A number:</label>
    <input type="text" id="prompt"
           class="form-control"
           name="prompt" #prompt [(ngModel)]="aNumber"
           required minlength="1">

    <button #okbtn pButton icon="fa fa-hashtag"
            type="button"
            label="ok"
            (click)="btnClick($event)"></button>

    <hr>
    <div class="buttonBar">
      <button class="actionBtn" #haltBtn pButton icon="fa fa-pause"
              type="button"
              label="Halt"
              (click)="appComponent.haltClick($event)"></button>

      <button class="actionBtn" #resumeBtn pButton icon="fa fa-play"
              type="button"
              label="Resume"
              (click)="appComponent.resumeClick($event)"></button>

      <button class="actionBtn" #quitBtn pButton icon="fa fa-stop"
              type="button"
              label="Quit"
              (click)="appComponent.quitClick($event)"></button>
    </div>
  </div>
  <!--<pre>{{aNumber}}</pre>-->
</p-dialog>
