<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div class="main" *ngIf="getFrequency()">
  <div class="status">
  Application is {{getAppStatus()}}
  </div>
  <hr>
  Frequency is: {{getFrequency()}} second(s).

  <hr>
  <!-- display our output here -->
  <pre>
    Output here...
  {{output}}
</pre>

</div>

<!-- our frequency dialog -->
<app-frequency-dialogue #frequencyDialogComponent [appComponent]="this"></app-frequency-dialogue>

<!-- our prompt dialog -->
<app-prompt-dialog #promptDialogComponent [appComponent]="this"></app-prompt-dialog>
